.checkout-container{
    position: absolute;
    display: none;
    top: 0;
    z-index: 99999;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
}

.checkout{
    width: 100%;
    min-width: 350px;
    max-width: 500px;
    // height: 700px;
    position: absolute;
    background-color: white;
    top: 5%;
    right: 32%;
    padding: 20px 30px;
    transition: all 1s ease-in-out 0.5s;
    transform:scale(0.5);

    .checkout-header{
        h1{
            font-weight: 600;
            font-size: 36px;
            margin-bottom: 24px;
        }
        .exit{
            position: absolute;
            top: 10px;
            right: 20px;
            background: none;
            border: none;
            height: 50px;
            font-size: 2rem;
        }
        .detail-pemesanan{
            border-bottom: 2px dashed #484848;
            display: flex;
            justify-content: space-between;
            font-size: 1rem;
            font-weight: 500;
            color: var(--mainGray);

            span{font-family: 'roboto',sans-serif;}
        }
    }
    .checkout-body{
        margin-top: 90px;
        input{
            display: block;
            margin: 30px 0;
            width: 100%;
            background: none;
            border: none;
            border-bottom: 1px solid #484848;
            height: 40px;
            padding-left: 5px;
        }
        .hitung-kamar{
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;

            .kamar,.waktu-menginap{
                p{display: inline;}
                width: 45%;
                
                
            }
            .box{
                display: flex;
                align-items: center;
                justify-content: space-around;
                min-width: 150px;
                height: 40px;  
                text-align: center;
                font-size: 1.5rem;
                border: 1px solid black;
                .angka{flex: 2;
                }
                .kurang,.tambah{
                    flex: 1;
                    background-color: #9e9e9e;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border: none;
                    transition: 0.2s ease-out;
                }

                .kurang:hover,.tambah:hover{
                    background-color: #484848;
                    color: white;
                }
            }
        }
        .keterangan{
            margin: 40px 0;
            font-size: 1rem;
            font-family: 'roboto',sans-serif;
            color: #9e9e9e;
            .judul{
                color: var(--mainGray);
            }
            .keterangan-list{
                display: flex;
                justify-content: space-between;

                .value-keterangan{
                    text-align: end;
                }
            }
        }
    }

    .checkout-footer{
        display: flex;
        justify-content: space-between;

        .total-pembayaran{
            p{font-weight: 600;}
            h4{
                font-family: 'roboto',sans-serif;
                font-size: 1.5rem;
            }
        }
        button{
            padding: 15px 40px;
            height: max-content;
            font-size: 1.2rem;
            border-radius: 10px;
            border: none;
            color: white;
            background-color: var(--mainGray);

        }
        button:hover{
            background-color: #505050;
        }

    }
}

.open-popup{
    display: block !important;
    .checkout{
        transform: scale(1);
        opacity: 1;
    }
}
.close-popup{
    display: none;
    .checkout{
        transform: scale(0.5);
        opacity: 1;
    }
}

//Untuk handphone
@media screen and (max-width: 768px) {
    .checkout{
        left: 20%;
    }
}

//Untuk handphone
@media screen and (max-width: 576px) {
  .checkout{
    left: 0;
  }
}