#detail{
    background-color: #ffffff;
    padding: 30px;
    min-height: calc(100vh - 120px - 100px);

    .kembali a{
        font-size: 2.5rem;
        color: var(--mainGray);

    }
    .konten{
        width: 90%;
        margin: 0 auto;
    }
    .gallery {
        // width: 500px;
        height: 436px;
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: 1fr 1fr 1fr;
        grid-column-gap: 20px;
        grid-row-gap: 20px;
        
        .gambar{
            overflow: hidden;
        }

        .img-kecil{
            max-width: 100%;
            height: auto;
            scale: 1;
        }

        .gambar:nth-child(1) { grid-area: 1 / 1 / 4 / 3;
            overflow: hidden;
         img{
            max-width: 200%;
            min-width: 200px;
            height: auto;
         }
            
        }
        .gambar:nth-child(2) { grid-area: 1 / 3 / 2 / 4; }
        .gambar:nth-child(3) { grid-area: 2 / 3 / 3 / 4; }
        .gambar:nth-child(4) { grid-area: 3 / 3 / 4 / 4; }
    }

    .deskripsi{
        color: var(--mainGray);
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        h4{
            font-size: 1.2rem;
            font-weight: 600;
        }

        .title{
            font-size: 2.5rem;
            font-weight: 700;

        }

        .rating{
            color: var(--bintang);
            font-size: 1.2rem;
        }

        .lokasi{
            display: flex;
            width: 60%;
            margin: 10px 0;

            i{
                font-size: 1rem;
                margin-right: 10px;
            }
            p{
                font-size: 0.75rem;
            }
        }

        .fasilitas{
            display: flex;
            width: 60%;
            justify-content: space-between;
            align-items: center;

            .fasilitas-list{
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                i{
                    font-size: 2rem;
                }
                p{
                    font-size: 0.75rem;
                    letter-spacing: 2px;
                }
            }
        }

        .harga-container{
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-family: 'inter',sans-serif;

            .harga{
                font-size: 2.5rem;
                font-weight: 700;
            }

            .harga-btn{
                font-size: 1em;
                padding: 1em 6em;
                border-radius: 1em;
                background-color: var(--mainGray);
                text-decoration: none;
                color: white;
                transition: background 0.3s ease-out;
                border: none;
            }

            .harga-btn:hover{
                background-color: #545454;
            }
        }
    }
        
}

//Untuk tablet
@media screen and (max-width: 768px) {
  #detail{
    .konten{
        width: 95%;
    }

    .gallery{
        margin-bottom: 30px;
    }
    .deskripsi{
        height: 350px;
    }
  }
}

//Untuk handphone
@media screen and (max-width: 576px) {
    #detail{
        width: 100%;
        .konten{
            width: 100%;
        }
    
        .gallery{
            margin-bottom: 30px;
            width: 100%;
            // min-width: 300px;
            // height: fit-content;
            height: 250px;
            
            grid-template-rows: 4fr 1fr 1fr;
            
        .gambar:nth-child(1) { grid-area: 1 / 1 / 2 / 4; 
            img{
                width: 100%;
                height: auto; 
                
            }
        }
        .gambar:nth-child(2) { grid-area: 2 / 1 / 4 / 2; }
        .gambar:nth-child(3) { grid-area: 2 / 2 / 4 / 3; }
        .gambar:nth-child(4) { grid-area: 2 / 3 / 4 / 4; }
        }
        .deskripsi{
            height: 350px;

            .title{
                font-size: 1.5rem;
            }
            .lokasi{
                width: 100%;
            }
            .fasilitas{
                width: 100%;

                .fasilitas-list{
                    i{
                        font-size: 1.2rem;
                    }
                    p{
                        font-size: 0.75rem;
                        letter-spacing: 0;
                    }
                }
            }

            .harga-container{
                flex-direction: column;
                .harga{
                    font-size: 1.5rem;
                }
                .harga-btn{
                    padding: 1em 0;
                    width: 100%;
                    text-align: center;
                }
            }
        }
      }
}