footer{
    width: 100%;
    min-height: 120px;
    background-color: var(--mainGray);
    display: flex;
    align-items: center;
    justify-content: center;

    .kontainer{
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: white;
        width: 100%;
        margin: 0;
        padding: 10px;

        .footerBrand{
            display: flex;
            flex-direction: column;
            justify-content: start;
            p{
                font-size: 0.5rem;
                color: #e9e9e9;
                margin-top: 10px;
            }
        }
        .copyright{
            flex: 1;
            h2{
            font-weight: 600;
            font-size: 1rem;
            text-align: center;
            }
        }
        .sosmed{

            p{
                color: #e9e9e9;
                font-size: 0.9rem;
                font-weight: 600;
            }
            .icon{
                display: flex;
            }
            .icon a{
                font-size: 1.3rem;
                color: #9e9e9e;
                
                i{
                    margin-right: 15px;
                }
            }

            .icon a:hover{
                color: #e9e9e9;
            }
        }
    }
}

@media screen and (min-width: 800px){
    footer{
        .kontainer{
            width: 95%;
            .footerBrand{
                max-width: 200px;
            }   
        }
    }
}

//Untuk tablet
@media screen and (max-width: 768px) {
  footer{
    .kontainer{
        .footerBrand{
            max-width: 140px;
            p{
                font-size: 0.4rem;
            }
            img{
                width: 70px;
                height: auto;
            }
        }
        .copyright{

            h2{
                font-size: 0.6rem;
                font-weight: 600;
            }
        }
        .sosmed{
            p{
                font-size: 0.8rem;
            }
            .icon a{
                font-size: 0.6rem;
            }
        }
    }
  }
}

//Untuk handphone
@media screen and (max-width: 576px) {
    footer{
        .kontainer{
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .footerBrand{
                margin-bottom: 10px;
                max-width: none;
                img{
                    max-width: 80px;
                }
                p{
                    font-size: 0.5rem;
                    text-align: center;
                }
                
            }
            .copyright{
                margin-bottom: 10px;
                h2{
                    font-size: 0.6rem;
                }

                img{
                    width: 80%;
                }
            }
            .sosmed{
                
                p{
                    font-size: 0.6rem;
                    text-align: center;
                    font-weight: 500;
                }
                .icon a{
                    font-size: 0.8rem;
                    text-align: center;
                    margin: 0;
                }
            }
        }
    }
}