#kontenUtama{
    .judul{
        h2{
            font-weight: 800;
            font-size: 3rem;
            color: var(--mainGray);
        }
        p{
            color: #808080;
            
        }
    }

    .hotel-container{
        .card{
            font-family: 'raleway',sans-serif;
            color: var(--mainGray);
            border: none;
            border-radius: 20px;
            margin: 25px calc(25px - 16px);
            overflow: hidden;
            

            img{
                border-radius: 20px 20px 0 0 ;
                transition: 0.2s ease-in;
            }
            .card-title{
                font-size: 1.25rem;
                font-weight: 600;
            }

            .rating{
                color: var(--bintang);
                margin-top: -10px;
            }

            .lokasi{
                display: flex;
                width: 60%;
                margin: 10px 0;

                i{
                    font-size: 1rem;
                    margin-right: 10px;
                }
                p{
                    font-size: 0.75rem;
                }
            }

            .harga-container{
                display: flex;
                justify-content: space-between;
                align-items: center;
                font-family: 'inter',sans-serif;

                .harga{
                    font-size: 1.30rem;
                    font-weight: 700;
                }

                .harga-btn{
                    font-size: 1em;
                    padding: 10px 25px;
                    border-radius: 1em;
                    background-color: var(--mainGray);
                    text-decoration: none;
                    color: white;
                    transition: background 0.3s ease-out;
                }

                .harga-btn:hover{
                    background-color: #545454;
                }
            }
        }
        .card-1:hover,.card-2:hover,.card-3:hover,.card-4:hover,.card-5:hover,.card-6:hover{
            img{
                transform: scale(1.02);
            }
        }
    }
}

//Untuk tablet
@media screen and (min-width: 578px) and (max-width: 1200px) {
  #kontenUtama{
    .hotel-container{
        .card{
            margin: 25px calc(15px - 16px);
            .lokasi{
                width: 80%;

                p{
                    font-size: 0.6rem;
                }
            }

            .harga-container{
                .harga{
                    font-size: 1rem;
                }
            }
        }
    }
  }
}

//Untuk handphone
@media screen and (max-width: 576px) {
    #kontenUtama{
        .hotel-container{
            .card{
                .card-title{
                    font-size: 1.5rem;
                }
            }
          }
    }
}