* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'raleway',sans-serif;
}
 
main{
    // width: 100%;
    // transform: translateY(100px);
    margin-top: 90px !important;


    .jumbotron-hero{
        display: none;
        width: 100%;
        border-radius: 20px;
        background-image: url(../assets/jumbotron.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: right;
        // max-height: 450px;
        height: 0;
        padding-bottom: 40%;

        img{
            width: 100%;
        }
    }

    .pesan,input,select{
        background-color: var(--white);
    }

    .pesan{
        width: 90%;
        padding: 0 5%;
        height: 150px;
        transform: translateY(-75px);
        box-shadow: 0px -5px 10px 3px rgba(0, 0, 0, 0.25);
        border-radius: 5px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .input{
            width: 60%;
            display: flex;
            justify-content: space-between;
            align-items: center;

            select,input{
                width: calc(80%/3);
                border: none;
                font-size: 1.5rem;
                font-weight: 600;
                background: none;
                color: var(--mainGray);
            }

            select:focus,input:focus{
                outline: none;
            }

            select{
                outline: none;
                option{
                    font-size: 1rem;
                }
            }

            input{
                font-family: 'Inter',sans-serif;
                border: none;
            }
        }

        button{
            font-size: 1.5em;
            padding: 20px 30px;
            border-radius: 1rem;
            background-color: var(--mainGray);

        }

        button:hover{
            background-color: #545454 !important;
        }
    }

}

//Untuk tablet
@media screen and (max-width: 768px) {
  main{
    section{
        .pesan{
            height: 80px;
            transform: translateY(-40px);

            .input{
                select,input{
                    font-size: 0.8rem;
                }
            }
            button{
                font-size: 0.8rem;
                padding: 10px;
                border-radius: 0.8rem;
            }
        }
    }
  }
}

//Untuk handphone
@media screen and (max-width: 576px) {
    main{
        section{
            .jumbotron-hero{
                display: block;
                img{
                width: 140%;
                }
                
            }
            .pesan{
                width: 100%;
                height: 400px;
                transform: translateY(0);
                margin-top: 10px;
                flex-direction: column;
                justify-content: space-between;
                padding: 20px;
                align-items: center;
                box-shadow: rgba(0, 0, 0, 0.15) 2px 2px 12px;

                h1{
                    font-size: 2.5rem;
                    font-weight: bold;
                }

                .input{
                    flex-direction: column;
                    width: 100%;
                    height: 60%;
                    justify-content: space-evenly;
                    align-items: center;
                    select,input{
                        font-size: 1rem;
                        width: 50%;
                    }
                }
                button{
                    width: 100%;
                    font-size: 1rem;
                    padding: 10px;
                    border-radius: 1rem;
                }
            }
        }
    }
}

.jumbotron{
    width: 100%;
    height: 600px;
    background: linear-gradient(90deg, #484848 0%, rgba(72, 72, 72, 0.45) 99.03%),url(../assets/jumbotron.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    
    .jumbotron-text{
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 50%;
        color: white;

        p{
            font-family: 'roboto',sans-serif;
            letter-spacing: 0.25em;
        }
        h1{
            font-family: 'raleway',sans-serif;
            font-weight:600; 
            margin-bottom: 25px;
        }

        .jumbotron-btn{
            display: flex;
            justify-content: space-between;
            width: 420px;
            a{
                // margin-right: 20px;
                color: var(--mainGray);
                text-decoration: none;
                background-color: white;
                padding: 12px 30px;
                font-weight: 700;
                border-radius: 5px;
            }
        }
    }
}

//Untuk tablet
@media screen and (max-width: 768px) {
  .jumbotron{
    .jumbotron-text{
        width: 70%;
        h1{
            font-size: 1.5rem;
        }
    }
  }
}

//Untuk handphone
@media screen and (max-width: 576px) {
  .jumbotron{
    .jumbotron-text{
        width: 90%;
        p{
            font-size: 0.7rem;
            margin-bottom: 10px;
        }
        h1{
            font-size: 1.2rem;
        }
        .jumbotron-btn{
            flex-direction: column;
            width: 250px;
            a:first-child{
                margin-bottom: 20px;
            }
        }
    }
  }
}
  