*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    z-index: 99;
    position: fixed;
    background-color: red;
    width: 100%;
}

.kontainer{
    margin: 0 5%;
    max-width: 1400px;
}

@media (min-width: 1200px) {
    .kontainer{
        margin: 0 5%;
    }
}

.kontainer-fluid{
    background-color: var(--white);
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;

}

#mainNavbar{
    padding: 20px 0;
    // height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    a{
        font-family: 'Raleway',sans-serif;
        font-size: 1.2rem;
    }
    .navBrand{
        img{
            width: 100px;
            height: auto;
        }
    }

    .navToggler{
        display: none;
        border: none;
        background-color: var(--white);

        font-size: 2rem;
        color: var(--mainGray);
    }

    .navCollapse{
        width: 40%;
    
        ul.navbar-nav{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

            .nav-btn{
                background-color: #484848;
                border-radius: 1rem;
                padding: 10px 25px;

            }

            .nav-btn:hover{
                background-color: #545454 ;
            }
        }
    }

    .dropDown{
        display: none;
        background-color: #fafafa;
        width: 100vw;
        top: -300px;
        position: absolute;
        padding: 20px;
        transition: top 0.5s ease-in-out;
        z-index: -10;

        ul.navbar-nav{
            li.nav-item{
                margin: 10px 0;
            }

            .nav-btn{
                width: 100%;
                background-color: var(--mainGray);
            }
        }

    }
    .open{
        top: 55px;
    }

}

//Untuk tablet
@media screen and (max-width: 768px) {
  #mainNavbar{
    a{
        font-size: 1rem;
    }
    .navCollapse{
        width: 60%;
    }
  }
}

//Untuk handphone
@media screen and (max-width: 576px) {
  #mainNavbar{
    padding: 5px 0;
    .navCollapse{
        display: none;

        ul.navbar-nav{
            flex-direction: column;
        }

        
    }

    .dropDown{
        display: block;
        left: 0;
    }

    .navToggler{
        display: block;
    }
  }
}