.why{
    margin-top: 250px;
    margin-bottom: 220px;
    .why-title{
        margin-bottom: 50px;
        h1{
            font-weight: 800;
            color: var(--mainGray);
        }
    }

    .list-container{
        width: 90%;
        margin: 0 auto;
        font-family: 'Nunito Sans',sans-serif;
        font-weight: 700;
        font-size: 1.5rem;

        .list{
            display: flex;
            justify-content: space-evenly;
        }

        .list-item{
            display: flex;
            align-items: center;
            justify-content: center;
            flex: 1; 
        }

        .icon{
            width: 80px;
            height: 80px;
            border-radius: 100px;
            background-color: var(--mainGray);
            color: white;
            font-size: 1.5rem;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-right: 30px;
        }
    }
}

//Untuk tablet
@media screen and (max-width: 768px) {
  .why{
    margin-bottom: 150px;
    .list-container{
        width: 100%;
        font-size: 1.2rem;
        .list{
            .icon{
                margin-right: 15px;
            }
        }
    }
  }
}

@media screen and (min-width: 577px) {
    .icon{
        min-width: 80px;
    }
}

//Untuk handphone
@media screen and (max-width: 576px) {
  .why{
    .list-container{
        display: flex;
        justify-content: center;
    }
    .list{
        width: 50%;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        height: 400px;

        .list-item{
            .icon{
                min-width: 50px;
                width: 50px;
                height: 50px;
            }
        }
    }
  }
}