@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Nunito+Sans&family=Poppins&family=Raleway:wght@400;800&family=Roboto&display=swap");
:root {
  --mainGray: #484848;
  --white: #E9E9E9;
  --bintang: #FFDC00;
}

*, html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--white);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  z-index: 99;
  position: fixed;
  background-color: red;
  width: 100%;
}

.kontainer {
  margin: 0 5%;
  max-width: 1400px;
}

@media (min-width: 1200px) {
  .kontainer {
    margin: auto;
  }
}
.kontainer-fluid {
  background-color: var(--white);
}

#mainNavbar {
  padding: 20px 0;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#mainNavbar a {
  font-family: "Raleway", sans-serif;
  font-size: 1.2rem;
}
#mainNavbar .navBrand {
  text-decoration: none;
  font-size: 2.5rem;
  color: #232323;
  font-weight: 900;
}
#mainNavbar .navBrand span {
  color: var(--mainGray);
}
#mainNavbar .navToggler {
  display: none;
  border: none;
  background: none;
  font-size: 2rem;
  color: var(--mainGray);
}
#mainNavbar .navCollapse {
  width: 40%;
}
#mainNavbar .navCollapse ul.navbar-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
#mainNavbar .navCollapse ul.navbar-nav .nav-btn {
  background-color: #484848;
  border-radius: 1rem;
  padding: 10px 25px;
}
#mainNavbar .navCollapse ul.navbar-nav .nav-btn:hover {
  background-color: #545454;
}
#mainNavbar .dropDown {
  display: none;
  background-color: #fafafa;
  border-radius: 0 0 20px 20px;
  width: 100vw;
  top: -300px;
  position: absolute;
  padding: 20px;
  transition: top 1s;
  z-index: -10;
}
#mainNavbar .dropDown ul.navbar-nav li.nav-item {
  margin: 10px 0;
}
#mainNavbar .dropDown ul.navbar-nav .nav-btn {
  width: 100%;
  background-color: var(--mainGray);
}
#mainNavbar .open {
  top: 100px;
}

@media screen and (max-width: 768px) {
  #mainNavbar a {
    font-size: 1rem;
  }
  #mainNavbar .navCollapse {
    width: 60%;
  }
}
@media screen and (max-width: 576px) {
  #mainNavbar .navCollapse {
    display: none;
  }
  #mainNavbar .navCollapse ul.navbar-nav {
    flex-direction: column;
  }
  #mainNavbar .dropDown {
    display: block;
    left: 0;
  }
  #mainNavbar .navToggler {
    display: block;
  }
}
footer {
  width: 100%;
  min-height: 120px;
  background-color: var(--mainGray);
  display: flex;
  align-items: center;
  justify-content: center;
}
footer .kontainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  width: 100%;
  margin: 0;
  padding: 10px;
}
footer .kontainer .footerBrand {
  display: flex;
  flex-direction: column;
  justify-content: start;
}
footer .kontainer .footerBrand p {
  font-size: 0.5rem;
  color: #e9e9e9;
  margin-top: 10px;
}
footer .kontainer .copyright {
  flex: 1;
}
footer .kontainer .copyright h2 {
  font-weight: 700;
  font-size: 1rem;
  text-align: center;
}
footer .kontainer .sosmed p {
  font-size: 0.9rem;
  font-weight: 600;
}
footer .kontainer .sosmed .icon {
  display: flex;
}
footer .kontainer .sosmed .icon a {
  font-size: 1.3rem;
  color: #9e9e9e;
}
footer .kontainer .sosmed .icon a i {
  margin-right: 15px;
}

@media screen and (min-width: 800px) {
  footer .kontainer {
    width: 95%;
  }
  footer .kontainer .footerBrand {
    max-width: 200px;
  }
}
@media screen and (max-width: 768px) {
  footer .kontainer .footerBrand {
    max-width: 140px;
  }
  footer .kontainer .footerBrand p {
    font-size: 0.4rem;
  }
  footer .kontainer .footerBrand img {
    width: 70px;
    height: auto;
  }
  footer .kontainer .copyright h2 {
    font-size: 0.6rem;
    font-weight: 600;
  }
  footer .kontainer .sosmed p {
    font-size: 0.8rem;
  }
  footer .kontainer .sosmed .icon a {
    font-size: 0.6rem;
  }
}
@media screen and (max-width: 576px) {
  footer .kontainer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  footer .kontainer .footerBrand {
    margin-bottom: 10px;
    max-width: none;
  }
  footer .kontainer .footerBrand img {
    max-width: 80px;
  }
  footer .kontainer .footerBrand p {
    font-size: 0.5rem;
    text-align: center;
  }
  footer .kontainer .copyright {
    margin-bottom: 10px;
  }
  footer .kontainer .copyright h2 {
    font-size: 0.6rem;
  }
  footer .kontainer .copyright img {
    width: 80%;
  }
  footer .kontainer .sosmed p {
    font-size: 0.6rem;
    text-align: center;
    font-weight: 500;
  }
  footer .kontainer .sosmed .icon a {
    font-size: 0.8rem;
    text-align: center;
    margin: 0;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "raleway", sans-serif;
}

main {
  margin-top: 100px !important;
}
main .jumbotron-hero {
  width: 100%;
  border-radius: 20px;
  background-image: url(../assets/jumbotron.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right;
  height: 0;
  padding-bottom: 40%;
}
main .jumbotron-hero img {
  width: 100%;
}
main .pesan, main input, main select {
  background-color: var(--white);
}
main .pesan {
  width: 90%;
  padding: 0 5%;
  height: 150px;
  transform: translateY(-75px);
  box-shadow: 0px -5px 10px 3px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
main .pesan .input {
  width: 60%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
main .pesan .input select, main .pesan .input input {
  width: 26.6666666667%;
  border: none;
  font-size: 1.5rem;
  font-weight: 600;
  background: none;
  color: var(--mainGray);
}
main .pesan .input select:focus, main .pesan .input input:focus {
  outline: none;
}
main .pesan .input select {
  outline: none;
}
main .pesan .input select option {
  font-size: 1rem;
}
main .pesan .input input {
  font-family: "Inter", sans-serif;
  border: none;
}
main .pesan button {
  font-size: 1.5em;
  padding: 20px 30px;
  border-radius: 1rem;
  background-color: var(--mainGray);
}
main .pesan button:hover {
  background-color: #545454 !important;
}

@media screen and (max-width: 768px) {
  main section .pesan {
    height: 80px;
    transform: translateY(-40px);
  }
  main section .pesan .input select, main section .pesan .input input {
    font-size: 0.8rem;
  }
  main section .pesan button {
    font-size: 0.8rem;
    padding: 10px;
    border-radius: 0.8rem;
  }
}
@media screen and (max-width: 576px) {
  main section .jumbotron-hero img {
    width: 140%;
  }
  main section .pesan {
    width: 100%;
    height: 400px;
    transform: translateY(0);
    margin-top: 10px;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.15) 2px 2px 12px;
  }
  main section .pesan h1 {
    font-size: 2.5rem;
    font-weight: bold;
  }
  main section .pesan .input {
    flex-direction: column;
    width: 100%;
    height: 60%;
    justify-content: space-evenly;
    align-items: center;
  }
  main section .pesan .input select, main section .pesan .input input {
    font-size: 1rem;
    width: 50%;
  }
  main section .pesan button {
    width: 100%;
    font-size: 1rem;
    padding: 10px;
    border-radius: 1rem;
  }
}
*, p, body, html, h2 {
  margin: 0;
  padding: 0;
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.title .text {
  height: 60px;
}
.title .text p {
  font-size: 1.25rem;
}
.title .text h1 {
  font-family: "Raleway";
  font-size: 4rem;
  font-weight: 700;
  line-height: 50px;
  margin: 0;
  color: var(--mainGray);
}
.title .btnGroup button {
  border: none;
  background-color: var(--mainGray);
  width: 50px;
  height: 50px;
  font-size: 2em;
  color: white;
}
.title .btnGroup button i {
  transition: all 0.3s ease-out;
}
.title .btnGroup .button:nth-child(1) {
  border-radius: 0.3em 0 0 0.3em;
  margin-right: 8px;
}
.title .btnGroup .button:nth-child(2) {
  border-radius: 0 0.3em 0.3em 0;
  margin-left: 8px;
}
.title .btnGroup button:hover i.left {
  transform: translateX(-3px);
}
.title .btnGroup button:hover i.right {
  transform: translateX(3px);
}

.sliders::-webkit-scrollbar {
  display: none;
}

.sliders {
  display: flex;
  overflow-x: scroll;
  margin-top: 50px;
  transition: all 0.3s ease-in-out;
  -webkit-overflow-scrolling: touch;
}
.sliders .hotel-card {
  width: 380px;
  height: 398px;
  margin-right: 110px;
  flex: 0 0 auto;
  border-radius: 20px;
  display: flex;
  align-items: flex-end;
  overflow: hidden;
  cursor: pointer;
}
.sliders .hotel-card .desc {
  width: 100%;
  height: 25%;
  background-color: rgba(72, 72, 72, 0.8509803922);
  color: white;
  padding: 25px 30px;
  font-family: "Poppins", sans-serif;
  transition: all 0.3s ease-out;
}
.sliders .hotel-card .desc h2 {
  font-size: 1.5rem;
  font-weight: 500;
}
.sliders .hotel-card .desc p {
  font-size: 1rem;
  color: #b7b7b7;
}
.sliders .hotel-card:hover .desc {
  height: 30%;
}
.sliders .hotel-card:nth-child(1) {
  background: url(../assets/slider/tipe_1.png);
  background-size: cover;
  background-position-y: center;
}
.sliders .hotel-card:nth-child(2) {
  background: url(../assets/slider/tipe_2.png);
  background-size: cover;
  background-position-y: center;
}
.sliders .hotel-card:nth-child(3) {
  background: url(../assets/slider/tipe_3.png);
  background-size: cover;
  background-position-y: center;
}
.sliders .hotel-card:nth-child(4) {
  background: url(../assets/slider/tipe_4.png);
  background-size: cover;
  background-position-y: center;
}
.sliders .hotel-card:nth-child(5) {
  background: url(../assets/slider/tipe_5.png);
  background-size: cover;
  background-position-y: center;
}
.sliders .hotel-card:nth-child(6) {
  background: url(../assets/slider/tipe_6.png);
  background-size: cover;
  background-position-y: center;
  margin-right: 0;
}

@media screen and (max-width: 768px) {
  .title .text p {
    text-align: left;
    font-size: 1rem;
  }
  .title .text h1 {
    font-size: 2.5rem;
  }
  .title .btnGroup button {
    width: 30px;
    height: 30px;
    font-size: 1rem;
  }
  .sliders {
    margin-top: 30px;
  }
  .sliders .hotel-card {
    width: 40vw;
    height: 200px;
    margin-right: 50px;
  }
  .sliders .hotel-card .desc {
    padding: 8px 20px;
  }
  .sliders .hotel-card .desc h2 {
    font-size: 1rem;
  }
  .sliders .hotel-card .desc p {
    font-size: 0.8rem;
  }
}
@media screen and (max-width: 576px) {
  .title .text p {
    font-size: 1rem;
  }
  .title .text h1 {
    font-size: 2rem;
  }
  .title .btnGroup {
    display: flex;
  }
  .title .btnGroup button {
    width: 25px;
    height: 25px;
    font-size: 0.8rem;
  }
  .sliders .hotel-card {
    min-width: 225px;
    width: 40vw;
    height: 200px;
    margin-right: 30px;
  }
  .sliders .hotel-card .desc {
    height: 30%;
    padding: 10px 10px;
  }
  .sliders .hotel-card .desc h2 {
    font-size: 1rem;
  }
  .sliders .hotel-card .desc p {
    font-size: 0.7rem;
  }
}
.why {
  margin-top: 250px;
  margin-bottom: 220px;
}
.why .why-title {
  margin-bottom: 50px;
}
.why .why-title h1 {
  font-weight: 800;
  color: var(--mainGray);
}
.why .list-container {
  width: 90%;
  margin: 0 auto;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
}
.why .list-container .list {
  display: flex;
  justify-content: space-evenly;
}
.why .list-container .list-item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}
.why .list-container .icon {
  width: 80px;
  height: 80px;
  border-radius: 100px;
  background-color: var(--mainGray);
  color: white;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 30px;
}

@media screen and (max-width: 768px) {
  .why {
    margin-bottom: 150px;
  }
  .why .list-container {
    width: 100%;
    font-size: 1.2rem;
  }
  .why .list-container .list .icon {
    margin-right: 15px;
  }
}
@media screen and (min-width: 577px) {
  .icon {
    min-width: 80px;
  }
}
@media screen and (max-width: 576px) {
  .why .list-container {
    display: flex;
    justify-content: center;
  }
  .why .list {
    width: 50%;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    height: 400px;
  }
  .why .list .list-item .icon {
    min-width: 50px;
    width: 50px;
    height: 50px;
  }
}
.tester {
  margin-bottom: 150px;
}
.tester .text h1 {
  font-weight: 700;
  color: var(--mainGray);
  margin-bottom: 50px;
}
.tester .text p {
  color: #808080;
  font-weight: 400;
}

@media screen and (max-width: 768px) {
  .tester .text h1 {
    font-size: 1.5rem;
    margin-bottom: 15px;
  }
  .tester .text p {
    font-size: 0.8rem;
  }
}
@media screen and (max-width: 576px) {
  .text h1 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 10px;
  }
  .text p {
    text-align: center;
    font-size: 0.9rem;
  }
}
.login-container {
  width: 100%;
  min-height: calc(100vh - 120px - 100px);
  display: flex;
  align-items: center;
  justify-content: center;
}
.login-container div.login {
  width: 30%;
  min-width: 415px;
  max-width: 440px;
  height: auto;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 20px;
  padding: 15px 0;
}
.login-container div.login img.login-brand {
  margin-bottom: 80px;
  margin-top: 20px;
}
.login-container div.login .form {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.login-container div.login .form input {
  width: 80%;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #484848;
  background: none;
}
.login-container div.login .form input:focus {
  outline: none;
}
.login-container div.login .form input[type=password] {
  margin-bottom: 50px;
}
.login-container div.login .form .or {
  margin: 15px 0;
}
.login-container div.login .form button {
  width: 100%;
  padding: 7px 0;
  margin-bottom: 15px;
  border: none;
  color: white;
}
.login-container div.login .form button:nth-child(1) {
  background-color: var(--mainGray);
}
.login-container div.login .form button:nth-child(2) {
  background-color: #868686;
}
.login-container div.login .form button:nth-child(4) {
  background-color: #de473c;
}
.login-container div.login .form button:nth-child(5) {
  background-color: #4267B2;
}

main#kontenUtama .jumbotron {
  width: 100%;
  background: url(../assets/carousel-main/jumbotron.png);
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 20px;
  position: relative;
  padding-bottom: 0;
  height: 400px;
  margin-bottom: 90px;
}
main#kontenUtama .jumbotron .overlay {
  background: linear-gradient(270deg, rgba(72, 72, 72, 0) 26.78%, #808080 59.28%);
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 20px 0 0 20px;
  padding-left: 4rem;
  display: flex;
  align-items: center;
}
main#kontenUtama .jumbotron .text-container {
  width: 40%;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
main#kontenUtama .jumbotron .text-container div {
  margin-bottom: 25px;
}
main#kontenUtama .jumbotron .text-container .judul {
  font-family: "raleway", sans-serif;
  font-size: 2.7rem;
  font-weight: 800;
}
main#kontenUtama .jumbotron .text-container .stars {
  font-size: 1rem;
  color: var(--bintang);
}
main#kontenUtama .jumbotron .text-container .lokasi {
  font-family: "roboto", sans-serif;
  font-size: 0.75rem;
  font-weight: 100;
  display: flex;
}
main#kontenUtama .jumbotron .text-container .lokasi i {
  margin-right: 10px;
}
main#kontenUtama .jumbotron .text-container .harga {
  font-family: "inter", sans-serif;
  font-size: 2.7rem;
  font-weight: 900;
}

@media screen and (max-width: 768px) {
  main#kontenUtama .jumbotron {
    height: 200px;
  }
  main#kontenUtama .jumbotron .text-container div {
    margin-bottom: 5px;
  }
  main#kontenUtama .jumbotron .text-container .judul {
    font-size: 1.2rem;
  }
  main#kontenUtama .jumbotron .text-container .stars {
    font-size: 0.8rem;
    margin-top: -5px;
  }
  main#kontenUtama .jumbotron .text-container .lokasi {
    font-size: 0.45rem;
  }
  main#kontenUtama .jumbotron .text-container .harga {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 576px) {
  main#kontenUtama .jumbotron {
    height: 150px;
  }
  main#kontenUtama .jumbotron .text-container div {
    margin-bottom: 5px;
  }
  main#kontenUtama .jumbotron .text-container .judul {
    font-size: 1rem;
  }
  main#kontenUtama .jumbotron .text-container .stars {
    font-size: 0.8rem;
    margin-top: -5px;
  }
  main#kontenUtama .jumbotron .text-container .lokasi {
    font-size: 0.3rem;
  }
  main#kontenUtama .jumbotron .text-container .harga {
    font-size: 1rem;
  }
}
#kontenUtama .judul h2 {
  font-weight: 800;
  font-size: 3rem;
  color: var(--mainGray);
}
#kontenUtama .judul p {
  color: #808080;
}
#kontenUtama .hotel-container .card {
  font-family: "raleway", sans-serif;
  color: var(--mainGray);
  border: none;
  border-radius: 20px;
  margin: 25px 9px;
}
#kontenUtama .hotel-container .card img {
  border-radius: 20px 20px 0 0;
}
#kontenUtama .hotel-container .card .card-title {
  font-size: 1.25rem;
  font-weight: 600;
}
#kontenUtama .hotel-container .card .rating {
  color: var(--bintang);
  margin-top: -10px;
}
#kontenUtama .hotel-container .card .lokasi {
  display: flex;
  width: 60%;
  margin: 10px 0;
}
#kontenUtama .hotel-container .card .lokasi i {
  font-size: 1rem;
  margin-right: 10px;
}
#kontenUtama .hotel-container .card .lokasi p {
  font-size: 0.75rem;
}
#kontenUtama .hotel-container .card .harga-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "inter", sans-serif;
}
#kontenUtama .hotel-container .card .harga-container .harga {
  font-size: 1.3rem;
  font-weight: 700;
}
#kontenUtama .hotel-container .card .harga-container .harga-btn {
  font-size: 1em;
  padding: 10px 25px;
  border-radius: 1em;
  background-color: var(--mainGray);
  text-decoration: none;
  color: white;
  transition: background 0.3s ease-out;
}
#kontenUtama .hotel-container .card .harga-container .harga-btn:hover {
  background-color: #545454;
}

@media screen and (min-width: 578px) and (max-width: 1200px) {
  #kontenUtama .hotel-container .card {
    margin: 25px -1px;
  }
  #kontenUtama .hotel-container .card .lokasi {
    width: 80%;
  }
  #kontenUtama .hotel-container .card .lokasi p {
    font-size: 0.6rem;
  }
  #kontenUtama .hotel-container .card .harga-container .harga {
    font-size: 1rem;
  }
}
@media screen and (max-width: 576px) {
  #kontenUtama .hotel-container .card .card-title {
    font-size: 1.5rem;
  }
}
#detail {
  background-color: #ffffff;
  padding: 30px;
  min-height: calc(100vh - 120px - 100px);
}
#detail .kembali a {
  font-size: 2.5rem;
  color: var(--mainGray);
}
#detail .konten {
  width: 90%;
  margin: 0 auto;
}
#detail .gallery {
  height: 436px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr 1fr 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}
#detail .gallery .gambar {
  overflow: hidden;
}
#detail .gallery .img-kecil {
  max-width: 100%;
  height: auto;
  scale: 1;
}
#detail .gallery .gambar:nth-child(1) {
  grid-area: 1/1/4/3;
  overflow: hidden;
}
#detail .gallery .gambar:nth-child(1) img {
  max-width: 200%;
  min-width: 200px;
  height: auto;
}
#detail .gallery .gambar:nth-child(2) {
  grid-area: 1/3/2/4;
}
#detail .gallery .gambar:nth-child(3) {
  grid-area: 2/3/3/4;
}
#detail .gallery .gambar:nth-child(4) {
  grid-area: 3/3/4/4;
}
#detail .deskripsi {
  color: var(--mainGray);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#detail .deskripsi h4 {
  font-size: 1.2rem;
  font-weight: 600;
}
#detail .deskripsi .title {
  font-size: 2.5rem;
  font-weight: 700;
}
#detail .deskripsi .rating {
  color: var(--bintang);
  font-size: 1.2rem;
}
#detail .deskripsi .lokasi {
  display: flex;
  width: 60%;
  margin: 10px 0;
}
#detail .deskripsi .lokasi i {
  font-size: 1rem;
  margin-right: 10px;
}
#detail .deskripsi .lokasi p {
  font-size: 0.75rem;
}
#detail .deskripsi .fasilitas {
  display: flex;
  width: 60%;
  justify-content: space-between;
  align-items: center;
}
#detail .deskripsi .fasilitas .fasilitas-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#detail .deskripsi .fasilitas .fasilitas-list i {
  font-size: 2rem;
}
#detail .deskripsi .fasilitas .fasilitas-list p {
  font-size: 0.75rem;
  letter-spacing: 2px;
}
#detail .deskripsi .harga-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "inter", sans-serif;
}
#detail .deskripsi .harga-container .harga {
  font-size: 2.5rem;
  font-weight: 700;
}
#detail .deskripsi .harga-container .harga-btn {
  font-size: 1em;
  padding: 1em 6em;
  border-radius: 1em;
  background-color: var(--mainGray);
  text-decoration: none;
  color: white;
  transition: background 0.3s ease-out;
}
#detail .deskripsi .harga-container .harga-btn:hover {
  background-color: #545454;
}

@media screen and (max-width: 768px) {
  #detail .konten {
    width: 95%;
  }
  #detail .gallery {
    margin-bottom: 30px;
  }
  #detail .deskripsi {
    height: 350px;
  }
}
@media screen and (max-width: 576px) {
  #detail {
    width: 100%;
  }
  #detail .konten {
    width: 100%;
  }
  #detail .gallery {
    margin-bottom: 30px;
    width: 100%;
    height: 250px;
    grid-template-rows: 4fr 1fr 1fr;
  }
  #detail .gallery .gambar:nth-child(1) {
    grid-area: 1/1/2/4;
  }
  #detail .gallery .gambar:nth-child(1) img {
    width: 100%;
    height: auto;
  }
  #detail .gallery .gambar:nth-child(2) {
    grid-area: 2/1/4/2;
  }
  #detail .gallery .gambar:nth-child(3) {
    grid-area: 2/2/4/3;
  }
  #detail .gallery .gambar:nth-child(4) {
    grid-area: 2/3/4/4;
  }
  #detail .deskripsi {
    height: 350px;
  }
  #detail .deskripsi .title {
    font-size: 1.5rem;
  }
  #detail .deskripsi .lokasi {
    width: 100%;
  }
  #detail .deskripsi .fasilitas {
    width: 100%;
  }
  #detail .deskripsi .fasilitas .fasilitas-list i {
    font-size: 1.2rem;
  }
  #detail .deskripsi .fasilitas .fasilitas-list p {
    font-size: 0.75rem;
    letter-spacing: 0;
  }
  #detail .deskripsi .harga-container {
    flex-direction: column;
  }
  #detail .deskripsi .harga-container .harga {
    font-size: 1.5rem;
  }
  #detail .deskripsi .harga-container .harga-btn {
    padding: 1em 0;
    width: 100%;
    text-align: center;
  }
}
@media screen and (max-width: 576px) {
  .container {
    max-width: 535px;
  }
}
@media screen and (max-width: 768px) {
  .container {
    max-width: 650px;
  }
}
.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
  font-size: 16px;
}/*# sourceMappingURL=main.css.map */